@model ProfileVM

<h1>My profile</h1>
<p>Your username is: @Model.Name</p>
<p>Your email is: @Model.Email</p>
<p>Do you want to change your <a asp-controller="Account" asp-action="Change">details</a></p>

<br/>
<br/>

<details role="gameChoice">
    <summary aria-haspopup="listbox" role="button" class="secondary">
        Which game do you want to look at
    </summary>
    <ul role="listbox">
        <li class="wordtopia"><a>Wordtopia</a></li> 
        <li><a>Rock Paper Scissors</a></li>
    </ul>
</details>

<article class="game-stats"></article>

@section scripts {
    <script>
        document.querySelector('.wordtopia').addEventListener('click', () => {
            document.querySelector('.game-stats').textContent = 
            `Wordtopia stats
            Games played: @Model.WordlePlays
            Personal best: @Model.WordleBest
            Average score: @Model.WordleAverage`
        });
    </script>
}