@model ProfileVM

<h1>My profile</h1>
<p>Your username is: @Model.Name</p>
<p>Your email is: @Model.Email</p>
<p>Do you want to change your <a asp-controller="Account" asp-action="Change">details</a></p>

<br/>
<br/>

<details role="gameChoice">
    <summary aria-haspopup="listbox" role="button" class="secondary">
        Which game do you want to look at
    </summary>
    <ul role="listbox">
        <li><a>Wordle</a></li> 
        <li><a>Rock Paper Scissors</a></li>
    </ul>
</details>

<article>
    Wordle stats <br/>
    Games played: @Model.WordlePlays <br/>
    Personal best: @Model.WordleBest <br/>
    Average score: @Model.WordleAverage <br/>
</article>
