@model ProfileVM

<h1>My profile</h1>
<p>Your username is: @Model.Name</p>
<p>Your email is: @Model.Email</p>
<p>Do you want to change your <a asp-controller="Account" asp-action="Change">details</a></p>

<br/>
<br/>

<details role="gameChoice">
    <summary aria-haspopup="listbox" role="button" class="secondary">
        Which game do you want to look at
    </summary>
    <ul role="listbox">
        <li data-game="wordtopia"><a>Wordtopia</a></li> 
        <li data-game="rockpaperscissor"><a>Rock Paper Scissors</a></li>
    </ul>
</details>

<article class="game-stats"></article>

@section scripts {
    <script>
        document.querySelector('[data-game="wordtopia"]').addEventListener('click', () => {
            setText("Wordtopia");  
        });

        document.querySelector('[data-game="rockpaperscissor"]').addEventListener('click', () => {
            setText("Rock Paper Scissor");
        });

        function setText(gameName) {
            if (gameName === "Wordtopia") {
                document.querySelector('.game-stats').innerHTML = 
                    `<b>${gameName}</b> <br />
                    Games played: @Model.WordlePlays <br />
                    Personal best: @Model.WordleBest <br />
                    Average score: @Model.WordleAverage <br />`
            } else if (gameName == "Rock Paper Scissor") {
                document.querySelector('.game-stats').innerHTML =
                    `<b>${gameName}</b> <br />
                    Rock wins: @Model.RockWins <br />
                    Paper wins: @Model.PaperWins <br />
                    Scissor wins: @Model.ScissorWins <br />
                    Highscore in a row wins: @Model.Highscore <br />
                    Total amount of games: @Model.TotalGames <br />
                    Win percent: @(Model.WinPercentRpsDecimal * 100)% <br />`
            }
        }
    </script>
}